<b>Note</b> : Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download disini. setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [2]:
import pandas as pd
df = pd.read_csv('diamonds-1.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Columns Metadata :

carat : berat diamond

cut : kualitas diamond

color : warna diamond

clarity : level kemurnian diamonds

depth : tinggi dari diamond tabel

table : lebar  dari diamond tabel

price : harga diamond ($US)

x : panjang

y : lebar

z : kedalaaman

<h2>Quiz 1 : Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

<h2>Quiz 2 : Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

Kemudian jawab pertanyaan berikut.
- Berapa harga rata2 dari diamond berkualitas Premium

In [0]:
# code here

jawaban

Expected Output :

![alt text](https://drive.google.com/uc?id=1GKanuLzNv_pYBFVRBmQywxQw39uQBvSl)

<h2>Quiz 3 : Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

Kemudian jawab pertanyaan berikut :
- Berapa harga diamond yang berkriteria premium dan berwarna J
- Berapa nilai dari carat diamond yang berkriteria very good dan berwarna H

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1XB_uHor7ZCPQUH9uQjSfd6aC6_yJnjh9)

In [0]:
# code here

jawaban

Expected Output : 

![alt text](https://drive.google.com/uc?id=1aGYDYdeGQlYGx86truU_8xKkM6hY1rGS)

<h2>Quiz 4 : Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai median dari harga diamond berkualitas good dan berwarna F

In [0]:
#

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1fUPIse5ELrzj26ZyWBqsAVOUb6yf7UoD)

<h2>Quiz 5 : Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai max dari price untuk diamond berkualitas Ideal

Expected Output :

![alt text](https://drive.google.com/uc?id=1B_z5PBkLe4hNJJJV3JgDGP9G--llytKf)

In [0]:
# code here

<h2>Quiz 6 : Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

Kemudian jawab pertanyaan berikut :
- Berapa selisih harga tertinggi dan terendah dari diamond berkualitas Premium

Expected Output :

![alt text](https://drive.google.com/uc?id=1bl6_8KryXCxLfzpAf4YF80Qvt15a3uQ6)

jawaban